</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style3.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Food</title>
</head>

<body>
    <div>
        <br>
        <h1>
            <center>chappan</center>
        </h1>
        <br>
        <img width="100%" height="600" src="static/images/chp.jpg">
        <br><br>
        <p>You might wonder why has this place been named as Chappan Dukan, which literally means 56 shops !!
        Originally, when the market started, there were actually 56 shops here and thus the name !! However, as time passed by,
        some of the retailers sold their shops to the ones next-door, who wanted to make their shops bigger !! Even today, if
        you count the number of pillars between the shops, you will actually see that there are exactly 56 shops !!
        Chappan Dukan of Indore – The Disney Land of every food lover. The famous food street Chappan dukan of Indore has got
        food for you that’s from all over India. North Indian, South Indian, chat, Coffees, Fariyali and what not!
        Chappan Dukan is like a food treasure trunk with assorted dishes hidden in it. From thelas of pani puris to a bowl of
        Noodles you get every bit of taste along the lane of Chappan. So many food delicacies, not just from various parts of
        India, but also some dishes from the cuisines around the Globe, like Chinese and Italian, presented to you at one food
        hub, Chappan.
            <br><br>
            <strong>Here is a list of food items that you must try at Chappan!</strong> 
            <br>
            Egg Benjo / Veg hot dog @ Jhonny Hot Dog<br>
            Choco Blast Sandwich / Arabic Sandwich @ Nafees Bakers<br>
            Shikanji / Kulfi in kulhad @ Madhuram Sweets<br>
            Khopra Patties @ Vijay Chat House<br>
            Tandoori Momos @ Sam's Momos and Rolls<br>
            Double egg veg roll @ Kolkata Rolls<br>
            Poha Jalebi @ Young Tarang<br>
            Fire Paan @ JJ Paan Shop<br>
            9 flavours Paani puri<br>
            Fried Khaman @ Vijay Chat House<br>
            Shahi Garadu<br>
            <strong>Location:</strong> palasia, Indore
            <br>
            <strong>Timings:</strong> 10 AM to 10 PM
        </p>
        <br>
        <a href="https://maps.app.goo.gl/7Ev4RTd4tZvjQG4PA">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>lalbalti</center>
        </h1>
        <br>
        <img width="100%" height="600" src="static/images/lalbaltif.jpg">
        <br><br>
        <p>Lal Balti Kachori is immensely popular in Indore for Aloo ki Kachori served with very spicy (hot) and special Green
        chilli chatni (chutney) !! In fact, the Green chilli chutney is more popular than the kachori !!
        
        The prefix Lal Balti, which literally means Red Bucket, came around its name only because it got popular and known with
        the Red coloured bucket that was hung outside its first restaurant - this one in Rambagh area !!.
            <br><br>
            <strong>Location:</strong> Rambag, Indore
            <br>
            <strong>Timings:</strong> 3 pM to 9 PM
            <br>
            <strong>Price</strong> rs 15 per piece.
        </p>
        <br>
        <a href="https://maps.app.goo.gl/ZgCsPSwWo1Hi8ULi8">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>Sarafa Night Food</center>
        </h1>
        <br>
        <img width="100%" height="600" src="static/images/sarrafa.jpg">
        <br><br>
        <p>Sarafa Bazaar is a jewellery market and night street food court located in central Indore. Sarafa is one of the market
        in India which remains as a jewellery marketplace at daytime and converts itself into a street food court at night from
        8 pm up to 2 at night.
        Indore's Sarafa Bazaar is a popular tourist place because of its cuisine and night lifestyle. Some believe that it
        started some 100 years back and was encouraged by jewellery shop owners so that their shops were secured even post
        midnight. With this in mind they willingly started offering front space of their shop to food vendors and thus Night
        Food Bazar came in existence ensuring the streets are empty only for few hours in the early morning.
        The tick off list for Sarafa must include dishes such as Garadu, Khopra Pattice, Batla Kachori, Bhutte ki kees and the
        best of North Indian sweets such as Malpua, Moong daal halwa, Rabri, Kulfi, Kesariya doodh and Gulab jamun. Do not miss
        Joshi ke dahi bade (since 1977), Nagori ki Shikanji, Rajhans ka Daal bafla before closing the night’s gluttony with Anna
        ka paan.
            <br><br>
            <strong>Here is a list of food items that you must try at Sarafa!</strong> 
            Dahi Bada at Joshi's Dahi Bada<br>
            Sabudana Khichdi at Sanwariya seth<br>
            Bhutte ka kees at Joshi's Dahi Bada<br>
            Khatta Samosa at Swadisht Samosa corner<br>
            Dal Bafla at Swadist Samosa corner<br>
            <strong>Location:</strong> Rajwada, Indore
            <br>
            <strong>Timings:</strong>9 pm to 2 am
        </p>
        <br>
    <a href="https://maps.app.goo.gl/5pjUm2sHHW7aDdJ18">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>O2</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://b.zmtcdn.com/data/pictures/9/1401589/2b329ae8f7be013b7ea75967296bd920.jpg">
        <br><br>
        <p>O2 Cafe is a favourite joint among the local people as well as the best cafe in Indore. It has a calm and chic ambience.
        Here, you can order food on an iPad Mini and pick a book from their library to keep you company. At this book cafe, you
        must try any of the various coffee, ice tea, lasagna and masala lemonade. If you are willing to experiment, try out Khow
        Suey (a Burmese delicacy), Spinachn Jalapeño Hummus, Dhaba Kadhai Chicken Pizza, and Dahi Bhalka Kulfi.
        It remains open till the wee hours of the night and even has a valet parking facility on the premises.
            <br><br>
            <strong>Location:</strong> 23/ 2C, New Palasia, Indore
            <br>
            <strong>Timings:</strong>11 AM to 1:30 AM
            <br>
            <strong>Cost for two:</strong> INR 600
        </p>
        <br>
        <a href="https://maps.app.goo.gl/yzHdojKoTjFxJvXh8">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>mangosteen</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://b.zmtcdn.com/data/pictures/6/1400466/ee7a61eaa428f87947935c042aedc631_featured_v2.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*">
        <br><br>
        <p>Mangosteen is a rooftop cafe in Indore where you can enjoy some quiet time with your significant others or a group of
        friends. It has prompt service and a cosy vibe with interesting graffitis on the wall. The cafe is adorned with items
        upcycled to make dream catchers, lanterns, etc, adding to its theme of eco-lifestyle. The place offers plenty of seating
        options and has a separate smoking room as well. They also screen cricket and football matches.
        The cafe has a varied menu and serves cuisines like Mexican and Italian, along with fast food. The menu has a listing of
        Mangosteen Specials like Mexican Bullets and Paneer Bullets which you should definitely try. The pizzas at this place
        are also worth trying; you can also customize the pizza by adding some extras. This cafe is known for its coffee.
            <br><br>
            <strong>Location:</strong> 4/5, 5th Floor, Pushpratna Solitaire, New Palasia
            <br>
            <strong>Timings:</strong> 11 AM to 11 PM
            <br>
            <strong>Cost for two</strong> INR 700
        </p>
        <br>
        <a href="https://maps.app.goo.gl/FGDwS9jHzdQfT8ca7">Get Location</a>
    </div>
</body>

</html>