</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style3.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Fun in indore</title>
</head>

<body>
    <div>
        <br>
        <h1>
            <center>1) Crescent Resort</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://www.holidify.com/images/cmsuploads/articles/358.jpg">
        <br><br>
        <p>Wash away all your worries at this splashy waterpark located on the outskirts of Indore, away from all the hubbub of
        city life. Whether you are planning a picnic with family or want to get adventurous with your friends, Crescent Water
        Park is one of the ideal places to visit in Indore that will make your day memorable.
        The park features various adrenaline-pumping water slides, pools, thrilling rides, and most importantly, an infinity
        pool. And, when all this fun at the park makes you hungry, there is a restaurant serving palatable delicacies to delight
        your taste buds.
        <br><br>
        <strong>Highlights:</strong> Infinity pool, Waterslides, Restaurant, Columbus ride.
            <br>
            <strong>Location:</strong> Kampel Road, Indore
            <br>
            <strong>Timings:</strong> 10 AM to 6 PM
            <br>
            <strong>Entry Fee:</strong> INR 320 per person.
        </p>
        <br>
        <a href="https://maps.app.goo.gl/hvU4N1pc1SSDeq5V8">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>2) Mayank Water Park</center>
        </h1>
        <br>
        <img width="100%" height="600" src="static/images/mayank.jpg">
        <br><br>
        <p>Wash away all your worries at this splashy waterpark located on the outskirts of Indore, away from all the hubbub of
        city life. Whether you are planning a picnic with family or want to get adventurous with your friends, Crescent Water
        Park is one of the ideal places to visit in Indore that will make your day memorable.
        The park features various adrenaline-pumping water slides, pools, thrilling rides, and most importantly, an infinity
        pool. And, when all this fun at the park makes you hungry, there is a restaurant serving palatable delicacies to delight
        your taste buds.
        <br><br>
        <strong>Highlights:</strong> Infinity pool, Waterslides, Restaurant, Columbus ride.
            <br>
            <strong>Location:</strong> Kampel Road, Indore
            <br>
            <strong>Timings:</strong> 10 AM to 6 PM
            <br>
            <strong>Entry Fee:</strong> INR 320 per person.
        </p>
        <br>
        <a href="https://maps.app.goo.gl/RCggbGtzX3aJKVnFA">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>3) Nakhrali Dhani Resort</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/19/30/1930727_v1.jpeg">
        <br><br>
        <p>Spread across an area of 12 acres, this heritage-themed park features a wide range of amusements including cultural
        activities, water slides, pools, rides and much more. If you want to experience fun and heritage simultaneously, this is
        among the best amusement parks in Indore.
        Immerse yourself in the fun of water sports or take a sneak peek into the cultural richness of Indore by partaking in
        cultural activities or watching amazing dance and musical performances by local artists here.
        The varied fun options at Nakhrali Dhani Water Park make it an interesting place for adults as well as kids. Most
        importantly, the lip-smacking food here will make this place unforgettable for you.
        <br><br>
        <strong>Highlights:</strong> Water slides, Cultural activities, Cultural shows, Traditional style dining.
        <br>
            <strong>Location:</strong> Rau Road, Nakhrali Dhani Bypass, Indore
            <br>
            <strong>Timings:</strong>11 AM to 11 PM
            <br>
            <strong>Entry Fee:</strong> INR 490 per adult; INR 330 per children
            <br>
           <strong>Waterpark charges:</strong>  INR 110 per member
        </p>
        <br>
        <a href="https://maps.app.goo.gl/xYCWEbMSz5n3H2n58">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>4) Shell City Water and Adventure Park</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://www.fabhotels.com/blog/wp-content/uploads/2018/08/600x400-15-1280x720.jpg">
        <br><br>
        <p>Opened in 1990, it is the first amusement water park in Indore. Owing to the variety of exhilarating rides and water
        slides it houses, it is one of the most popular amusement parks in Indore for adventure junkies.
        Set amidst lush greenery, spanning over an area of 22 acres, the park features numerous attractions, slides, rides, and
        pools apart from dedicated areas to play sports like badminton, tennis, volleyball, etc.
        Due to its relaxing atmosphere, Shell City Water and Adventure Park is also one of the popular picnic spots in Indore.
        You can also enjoy scrumptious delicacies from Indian and international cuisines, or buffet meal here to make the
        experience wholesome.

            <br><br>
            <strong>Highlights:</strong> Wave pools, Waterslides, Rides, Waterfalls, Buffet Meal.
            <br>
            <strong>Location:</strong> Khandwa Road, Indore
            <br>
            <strong>Timings:</strong>10 AM to 8:30 PM
            <br>
            <strong>Entry Fee:</strong> INR 300 per person
            <br>
            <strong>Buffet:</strong> INR 249 per person
        </p>
        <br>
        <a href="https://maps.app.goo.gl/8WuSYvF9E9qAtx3J6">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>5) Safari Adventure Park</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://media-cdn.tripadvisor.com/media/photo-s/06/2c/b3/74/safari-activity-park.jpg">
        <br><br>
        <p>If you are seeking some offbeat fun, this adventure park serves as a quintessential weekend getaway and is believed to
        be among the best amusement parks in Indore. The outdoor atmosphere of the park gives it an authentic outdoor
        atmosphere. Many exciting activities can be tried in the natural surroundings of this park, some of which will make you
        skip a beat.
        From camping amidst lush greenery to indulging in high rope activities, there is a long list of activities you must try
        which makes Safari Adventure Park an ultimate destination for people enthusiastic about outdoor activities. Come here
        with your family, friends or colleagues, you will not find a moment of boredom amidst all the fun.

            <br><br>
            <strong>Highlights:</strong> Camping, Rope activities, Splash pool, Rain dance, Wall climbing, Burma Bridge.
            <br>
            <strong>Location:</strong> Lasudia Parmar, Dakachya, Indore
            <br>
            <strong>Timings:</strong> 9 AM to 6 PM
            <br>
            <strong>Entry Fee:</strong> INR 350 per person.
        </p>
        <br>
        <a href="https://maps.app.goo.gl/poutSQeoPQoE2B3X8">Get Location</a>
    </div>
</body>

</html>