</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style3.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Religious</title>
</head>

<body>
    <div>
        <br>
        <h1>
            <center>Khajrana Ganesh Temple</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Khajrana_Ganesh_Mandir.jpg">
        <br><br>
        <p>Khajrana Ganesha Temple is one of the most visited temples in the city because of its history and religious
            beliefs
            attached to it. The locals especially have a lot of faith in the temple and the blessings that they get from
            here; which
            in a way makes it a priority in any traveller’s list. It is believed that the temple was originally built by
            Ahilya Bai
            Holkar and was later subjected to some finishing touches by different historic personalities. According to
            several
            religious beliefs, it is said that whoever comes here and wishes for something, the wish gets fulfilled
            within a short
            span of time. That is the reason that you might see people praying at Khajrana Ganesha Temple for getting a
            baby or some
            work related problems. To add to the religious aura of the place, there is also a dargah nearby. This is
            dedicated to
            Nahar Sayed who is believed to be buried headless here. For Muslims, this place holds great religious
            importance and is
            frequented by a dozen of people every day.</p>
        <br>
        <p>
            <strong>Location:</strong> Khajrana Road, Indore, Madhya Pradesh, 452001, India
            <br>
            <strong>Timings:</strong> 5:00 AM - 12:00 PM and 4:00 PM - 8:00 PM
        </p>
        <br>
        <a href="https://maps.app.goo.gl/8hSm3DgUXL1khq6L8">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>Bada Ganpati</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://static.punjabkesari.in/multimedia/17_23_498738705badha1.jpg">
        <br><br>
        <p>With an eight metres of height from crown to foot, Bada Ganpati houses the biggest Ganpati idol in the world.
            The idol
            is made of limestone, mud from the stables of elephants and horses, jaggery, bricks along with holy soil and
            water from
            the major pilgrim places in the country with a framework that is made of precious metals. It is believed
            that whoever
            visits the deity, all their obstacles and worries are taken away by the Lord which makes a much frequented
            site for
            devotees from all over the country in large numbers.</p>
        <br>
        <p>
            <strong>Location:</strong> Bada Ganpati Square, Indore, Madhya Pradesh, 452001, India
            <br>
            <strong>Timings:</strong> 5:00 AM - 12:00 PM and 4:00 PM - 8:00 PM
        </p>
        <br>
        <a href="https://maps.app.goo.gl/fDBsfsHeepz1JYq2A">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>Bijasan Mata Temple</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://getinfocity.com/wp-content/uploads/2018/03/Bijan-Mata-Mandir-Indore.jpg">
        <br><br>
        <p>Bijasan Mata Temple is truly a divine place and is located on top of a hill. This beautiful temple is easily
            accessible
            and is just 2 minutes drive from Indore Airport and is about 9 km from the railway station. There is also a
            park near to
            the temple where one can spend quality time with loved ones. During Navratri the temple is very crowded but
            it is
            definitely a place worth visiting. Bijasen Mata Temple is paradise for all God lovers.
        </p>
        <br>
        <p>
            <strong>Location:</strong>Indore District, near Airport, Indore 452001, India
            <br>
            <strong>Timings:</strong> 5:00 AM - 12:00 PM and 4:00 PM - 8:00 PM
        </p>
        <br>
        <a href="https://maps.app.goo.gl/kNxFQCBPbiZUHN3s5">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>Gomatgiri</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://edge.ixigo.com/ixi-api/img/522709b0e4b022c0dcf708a2_600x315.jpg">
        <br><br>
        <p>Gomatgiri, a small hillock near Indore, is one of the most popular religious attractions for the followers of
            Jainism.
            Located only a 10 minutes drive away from the airport in the city, the hillock is synonymously known for its
            nearly 21
            feet statue of Gomateshwar. The statue is said to be an exact replica of the Bahubali statue of
            Shrawanbegola. Also,
            what makes Gomatgiri interesting is the presence of 24 marble temples, beauty of which is accentuated by
            their shikhars.
            Each one of these beautiful temples is dedicated to the one of the 24 Tirthankaras of Jain religion.
            Interestingly, the
            hillock was donated to the Jain Samaj by the M.P government in the year 1981.
        </p>
        <br>
        <p>
            <strong>Location:</strong> Near Indore Airport, Indore, Madhya Pradesh 452001, India
            <br>
            <strong>Timings:</strong> 6:00 AM - 12:00 PM and 2:00 PM - 7:00 PM
        </p>
        <br>
        <a href="https://maps.app.goo.gl/pSqnbqiyja7aQG4B8">Get Location</a>
    </div>
    <br>
    <div>
        <br>
        <h1>
            <center>Shri Siddh Vijay Ganesh Mandir</center>
        </h1>
        <br>
        <img width="100%" height="600" src="https://content3.jdmagicbox.com/comp/indore/g1/0731px731.x731.170315165033.v2g1/catalogue/shri-siddh-vijay-ganesh-mandir-nanda-nagar-indore-temples-2oq5cep.jpg">
        <br><br>
        <p>Shri SiddhVijay Ganesh Mandir has a history of more than 40yrs,temple is re-build in southern-india temples
            style.More
            than 10,000 ppl come to worship in "Ganesh Utsav-Maha Aarti" in evenings with prayers and darshan they
            collect free
            Prasad Packets.Over 1,000 ppl worship in a day round the year.ppl Luv to see beautiful decoration of Lord
            Ganesh
            everyday. no fees and offerings required to worship.
        </p>
        <br>
        <p>
            <strong>Location:</strong> Pologround V.I.P. Rd Nanda Nagar, Mari Mata Square, Indore 452001 India
            <br>
            <strong>Timings:</strong> 5:00 AM - 12:00 PM and 4:00 PM - 8:00 PM
        </p>
        <br>
        <a href="https://maps.app.goo.gl/jajsaKFeAVrPpeAD7">Get Location</a>
    </div>
</body>

</html>